header{
    height: 110px;
    > div{
        background: #3c3c3c;
        height: 35px;
    }
    nav{
        background: #f9430a;
        height: 65px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        img{
            width: 35px;
            height: auto;
            margin-right: 20px;
        }
        p{
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            margin:0 0 0 0 ;
            cursor: pointer;
            border-radius: 5px;
            padding: 5px 10px;
            text-align: center;
        }

        a{
            text-decoration: none;
        }

        #unlog{
            border: 1px solid #FFF;
        }
    }

    @media (min-width: 1024px) {
        nav{
            a,p{
                font-size: 24px;
            }
        }
      }
}