.movieList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 15px;
  position: relative;
  @media (min-width: 1024px) {
    padding: 45px;
    grid-template-columns: repeat(6, 1fr);
  }
}
