@keyframes added {
  0% {
    height: 100%;
    opacity: 0;
  }
  50% {
    height: 100%;
    opacity: 1;
  }
  75% {
    height: 100%;
    opacity: 0.5;
  }
  90%{
    height: 100%;
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

.movie {
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 14px 3px rgba(0, 0, 0, 0.12);
  position: relative;
  .movie-hover {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 35px;
    background: rgba(249, 67, 10, 0.6);
    border-radius: 5px;
    p {
      color: #fff;
      font-size: 13px;
      font-weight: 600;
      text-align: justify;
    }
  }
  .added-animation {
    animation-name: added;
    animation-duration: 2s;
  }
  .movie-added {
    opacity: 0;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(60, 60, 60, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: #fff;
      font-weight: bold;
    }
  }
  &:hover {
    .movie-hover {
      transition: opacity 1s;
      opacity: 1;
    }
    .add-favorites {
      border-radius: 5px;
      background: #fff;
      text-align: center;
      position: absolute;
      width: 95%;
      height: auto;
      padding: 10px;
      bottom: 40px;
      margin: 0 auto;
      left: 0;
      right: 0;
      color: #3c3c3c;
      cursor: pointer;
      font-weight: 600;
      display: flex;
      justify-content: center;
      border: 2px solid #f9430a;
    }
  }
  h1 {
    font-size: 16px;
    font-weight: 600;
    min-height: 52px;
  }
  img {
    width: 100%;
    height: auto;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: baseline;
    img {
      width: 15px;
      height: auto;
      margin-left: 5px;
    }
  }
}
